# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Distribution
*.egg-info/
dist/
build/
