<!DOCTYPE html>
<html>
<head>
	<title>TOWER OF HANOI</title>
	<style type="text/css">
		canvas{  
			width: 100%;
			}
		body{
			margin: 0;
			border: 0;
			padding-top: 5%;
		    margin-left: auto;
		    margin-right: auto;
		    display: block;
		    text-align: center;
		    font-family: Verdana;
			}
		h1{
			font-family: Courier New;
			font-weight: bolder;
		}
		#sub{
			text-decoration: none;
			font-weight: bold;
			font-family: Verdana;

		}
		}
	</style>
</head>
<body>
	<h1>{% if num %}For {{num}} discs{% else %}Enter number of discs {% endif %}</h1>
	<p>(Be careful about recursion depth server may hang)</p>
	<form method="POST">

		{{ form.hidden_tag() }}
		{{ form.num.label }}{{ form.num() }}
		{{ form.submit() }}

	</form><br>
	<label>Adjust Animation Speed</label>
	<input type="range" id="slider" min ="50" max = "3000">
	<br><br>
	<canvas id = "mycan" height = '400'></canvas>
	<p id ="sub"> By <a href="https://linkedin.com/in/stabgan">Kaustabh Ganguly</a> ©️ 2019</p>
<script type="text/javascript">

	
	
	
	var canvas = document.getElementById("mycan");
	var ctx = canvas.getContext('2d')
	canvas.width = window.innerWidth;
	var speed = document.getElementById('slider')
	speed.defaultValue = 3050-500;
	var counter = -1;


	const BLOCK_LENGTH = 50;
	const Ax = window.innerWidth/2 - BLOCK_LENGTH*1.5;
	const Bx = Ax+BLOCK_LENGTH+10;
	const Cx = Bx+BLOCK_LENGTH+10;
	const By = 300;
	const Dx = 15;
	const CLEARy = 0;

	ctx.font = "40px Arial";
	ctx.fillText({{ count }}+" Steps" , canvas.width/10, canvas.height/2-20);

	function drawDisc(a,b,c,d=Dx){
		
		ctx.fillStyle = "#FF0000";
		ctx.fillRect(a,b,c,d);
		ctx.fillStyle = "black";
		ctx.strokeRect(a,b,c,d);
	}

	function drawDiscs(n,a = Ax,b = By,c = BLOCK_LENGTH)
	{
		
		for (var i = 0; i<n ; i++){
			drawDisc(a,b,c);
			a = a + 1;
			b = b - 15;
			c = c - 2;
		}
	}

	function clear(n){
		if (n===1){
			ctx.clearRect(Ax,CLEARy,BLOCK_LENGTH,canvas.height);
		}
		if (n===2){
			ctx.clearRect(Bx,CLEARy,BLOCK_LENGTH,canvas.height);
		}
		if (n===3){
			ctx.clearRect(Cx,CLEARy,BLOCK_LENGTH,canvas.height);
		}
	}

	d = {{ discs }};
	

	

	var A = d;
	var B = 0;
	var C = 0;
	drawDiscs(A);
	

	//1-2,2-1,1-3,3-1,2-3,3-2
	var anim = function(i){

		i = i || 0;
		var list = {{ seq }} ;
		list.unshift([0,0]);
		if(i<list.length){
			counter += 1;
			ctx.clearRect(canvas.width*0.6,0,500,500);
			ctx.fillText("Count:"+counter , 7*canvas.width/10, canvas.height/2-20);

			var ini = list[i][0];
			var fin = list[i][1];
			console.log(ini,fin);
			console.log(A,B,C);
			if (ini === 0 && fin === 0){
				clear(1);
				clear(2);
				clear(3);
				drawDiscs(A);
			}
			if (ini === 1 && fin === 2)
			{
				clear(1);
				A = A-1;
				drawDiscs(A);
				clear(2);
				B = B +1;
				drawDiscs(B,a=Bx);
				
			}
			if (ini === 2 && fin === 1)
			{
				clear(2);
				B = B-1;
				drawDiscs(B,a=Bx);
				clear(1);
				A = A+1;
				drawDiscs(A);
				
			}
			if (ini === 1 && fin === 3)
			{
				clear(1);
				A = A -1;
				drawDiscs(A);
				clear(3);
				C= C+1;
				drawDiscs(C,a=Cx);
				
			}
			if (ini === 3 && fin === 1)
			{
				clear(3);
				C = C-1;
				drawDiscs(C,a=Cx);
				clear(1);
				A = A+1;
				drawDiscs(A);
				
			}
			if (ini === 2 && fin === 3)
			{
				clear(2);
				B = B-1;
				drawDiscs(B,a=Bx);
				clear(3);
				C = C+1;
				drawDiscs(C,a=Cx);
				
			}
			if (ini === 3 && fin === 2)
			{
				clear(3);
				C =C-1;
				drawDiscs(C,a=Cx);
				clear(2);
				B = B+1;
				drawDiscs(B,a=Bx);
				
			}

			i++;

			setTimeout(function() { anim(i)}
				,3050-speed.value);
		}

	}

	anim();

</script>
</body>
</html>